RewriteEngine On

# No reescribir archivos o directorios existentes
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# API
RewriteRule ^api/price/([0-9]+)/?$ api.php?resource=price&id=$1 [L,QSA]

# Web
RewriteRule ^([0-9]+)/?$ index.php?id=$1 [L,QSA]

# Cualquier otra URL
RewriteRule ^ index.php [L,QSA]