@view-transition {
    navigation: auto;
}

/* DERECHA */

html.right::view-transition-new(root) {
    animation: entrar-desde-derecha 1s ease;
}

/* IZQUIERDA */

html.left::view-transition-new(root) {
    animation: entrar-desde-izquierda 1s ease;
}

@keyframes entrar-desde-derecha {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes entrar-desde-izquierda {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}
.selector{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.product-name:hover{
    text-decoration-color: #0ABF00;

}
.product-name{
    width: 450px;
    font-family: 'VT323';
    font-size: 35px;
    color: #37E502;
    margin: 0px;
    padding: 0px;
    cursor: pointer;



    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.1s ease;
}

.selector-btn{
    font-family: Pixelify sans;
    font-size: 38px;

    padding: 0px;
    margin: 0px;
    height: 56px;
    width: 38px;
    border: 5px solid #37E502;
    color: #37E502;
    background-color: rgb(0, 0, 0);
    transition: background-color 0.2s ease, color 0.2s ease;
    cursor: pointer;
}


.selector-btn:hover {
    background-color: #37E502;
    color: #000;
}

a {
    text-decoration: none;
}


body{
    text-align: center;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    margin-top: 10px;
}

.tittle1{
    font-family: 'Rubik Pixels';
    font-size: 70px;
    color: #37E502;
    margin: 0;
    padding: 0;
    height: 80px;

}

.liña{
    color: #37E502;
    font-size: 6px;

    padding: 0;
    border: none;

    margin-top: 0px;
    margin-bottom: 5px;

    padding-top: 0px;
    padding-bottom: 0px;

}


.line{
    border: 1px solid #37E502;
    width: 200px;
    padding: 0;
    border: none;
    border-top: 5px dashed #37E502;

    margin-top: 0px;
    margin-bottom: 0px;

    padding-top: 0px;
    padding-bottom: 0px;

}

.tittle2{
  
    margin-top: 0px;
    margin-bottom: 0px;

    font-family: 'Pixelify sans';
    font-size: 20px;
    padding: 0px;
    color: #37E502;


}

.container{
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    border: 5px solid #37E502;
    max-width: 90%;
    height: 220px;
}


#chart_div {
    max-width: 100%;
    height: 100%;
    box-sizing: border-box;
    

}


.imagen-pixel {
    width: 125px;
    height: 125px;
    background: #0ABF00;

    clip-path: polygon(
        16px 0,
        109px 0,
        109px 4px,
        117px 4px,
        117px 8px,
        121px 8px,
        121px 16px,
        125px 16px,

        125px 109px,
        121px 109px,
        121px 117px,
        117px 117px,
        117px 121px,
        109px 121px,
        109px 125px,

        16px 125px,
        16px 121px,
        8px 121px,
        8px 117px,
        4px 117px,
        4px 109px,
        0 109px,

        0 16px,
        4px 16px,
        4px 8px,
        8px 8px,
        8px 4px,
        16px 4px
    );

    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen-pixel img {
    width: 117px;
    height: 117px;
    object-fit: cover;

    clip-path: polygon(
        15px 0,
        102px 0,
        102px 4px,
        110px 4px,
        110px 8px,
        114px 8px,
        114px 15px,
        117px 15px,

        117px 102px,
        114px 102px,
        114px 110px,
        110px 110px,
        110px 114px,
        102px 114px,
        102px 117px,

        15px 117px,
        15px 114px,
        8px 114px,
        8px 110px,
        4px 110px,
        4px 102px,
        0 102px,

        0 15px,
        4px 15px,
        4px 8px,
        8px 8px,
        8px 4px,
        15px 4px
    );
}